.calculator {
  display: flex;
  width: 20rem;
  flex-direction: column;
  gap: 2rem;
}

.calculator-container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--secondary-color-dark);
}

.light {
  &.calculator-container {
    background-color: var(--secondary-color-light);
  }
}
