<div class="calculator-container" [ngClass]="{ 'light': isLightTheme }">
  <div class="calculator">
    <app-calculator-header [isLightTheme]="isLightTheme" (toggleThemeEvent)="toggleTheme()"></app-calculator-header>
    <app-calculator-screen [displayOutput]="displayOutput" [displayPreview]="displayPreview" [isLightTheme]="isLightTheme" (buttonClicked)="updateDisplay($event)"></app-calculator-screen>
    <app-calculator-main [isLightTheme]="isLightTheme" (buttonClicked)="updateDisplay($event)"></app-calculator-main>
  </div>
</div>
